- if user_signed_in?
  %p.navbar-right.navbar-text
    = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
  %p.navbar-right.navbar-text
    = link_to('Login', new_user_session_path)